{% load static %}
<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'maincss.css' %}">
<form method="post">
  <h2>Bei Help2Anywhere anmelden</h2>
  {% csrf_token %}
  {{ form.username.label_tag }}
  {{ form.username }}
  <br><br>
  {{ form.password.label_tag }}
  {{ form.password }}
  <br><br>
  <button type="submit" class="box-button" style="height: 20%;">Anmelden</button>
</form>

  <br>
  <p>Haben sie noch keinen Account? <a href="{% url 'signup' %}" style="color: red;">Einenen Account erstellen</a></p>
