{% load static %}
<head>
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'headercss.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'maincss.css' %}">
  <title>Profil</title>
</head>

{% block content %}


  <h2>Wilkommen, {{ user.username }}!</h2>
  <p>Schule: {{ user.school_id }}</p>
  <p>Klasse: {{ user.school_class }}</p>
  <p>Telefonnummer: {{ user.telephone_number }}</p>
  {% if user.username == "Kadir" or user.telephone_number == "015238152399" %}
  <p>Privilegien: Owner</p>
  {% elif user.is_staff == 1 %}
  <p>Privilegien: Admin</p>
  {% elif user.is_teacher == 1 %}
  <p>Privilegien: Sie sind eine Lehrkraft und haben "admin Rechte" über Schüler-Accounts; Ihre Posts werden als "von einer Lehrkraft" angezeigt.</p>
  {% elif user.is_verified == 1 %}
  <p>Privilegien: Die Hausaufgaben die Sie posten werden als "verifiziert" angezeigt.</p>
  {% elif user.can_post == 1 %}
  <p>Privilegien: Sie dürfen Hausaufgaben posten.</p>
  {% else %}
  <p>Privilegien: Wegen Missbrauch dürfen Sie keine Hausaufgaben posten.</p>
  {% endif %}
  {% if "windows" in device %}
  <p>Gerät: Windows</p>
  {% else %}
  <p>Gerät: {{ device }}</p>
  {% endif %}
  <!-- Add more user data as needed -->
<br><br>
  <li><a href="{% url 'logout' %}" style="color: aliceblue;">Abmelden</a></li>
{% endblock %}
